/*----------VARIABLES----------*/

$fondo-principal: #000000;
/*color de fondo general*/
$color-titulos: #c4817e;
/*color de todos los titulos principales*/


/*----------LISTAS----------*/

$font-size: 3rem,
    15px,
    18px,
    20px,
    25px,
    50px,
    70px;

/*----------EXTENDS----------*/
%img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*----------MIXIN----------*/
@mixin spacingStyles($padding, $margin, $letterSpacing) {
    padding: $padding;
    margin: $margin;
    letter-spacing: $letterSpacing;
}