/* IMPORTACIÓN DE FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap');


/*ASPECTOS GENERALES*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "quicksand";
}

body,
html {
    height: 100%;
}

li {
    list-style: none;
    /* saco las viñetas de todas las listas del HTML*/
}
